.container {
    margin-top: 4em;
    border: solid grey 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#Question {
    padding: 1em;
}
/* #game {
    display: none;
}

#scores {
    display:none;
} */
fieldset {
    padding:  1em;
}